# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfstate.backup

# Lock file
# .terraform.lock.hcl (Consider committing this file)

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore configuration and environment files
*.tfvars
*.tfvars.json

# Ignore sensitive data
secrets*

# System Files
.DS_Store

# Log files
*.log

# IDE files (e.g., IntelliJ IDEA)
.idea/
